<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>
    <title>vue-swiper.js</title>
    <link rel="stylesheet" href="/src/dist/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="/src/dist/css/swiper-animate.min.css">
    <link rel="stylesheet" href="/src/dist/css/animate.min.css">
    <link rel="stylesheet" href="/src/dist/css/app.min.css">
    <script src="/src/dist/js/swiper-3.3.1.min.js"></script>
    <script src="/src/dist/js/swiper-animate.min.js"></script>
</head>
<body>
    <div id="app" class="swiper-container"></div>
    {{ each data as item}}
        <p>{{ item }}</p>
    {{ /each }}
    {{ each data2 as item2}}
        <p>{{ item2 }}</p>
    {{ /each }}
</body>
<script src="/src/dist/js/app.min.js"></script>
</html>
